<ul class="nav mt-3 w-75 rounded-pill m-auto d-flex flex-row justify-content-between align-items-center "
  style="background-color: rgb(173, 219, 245);">
  <div class="d-flex flex-row ms-4">
   
    <li class="nav-item">
      <a routerLink="/home" style="color: white;"> <img src="assets/images/home-logo132.png" style="width:130px;  "
          routerLink="/home"></a>
    </li>
      <li class="nav-item  ">

      <a routerLink="/users" style="color: white;"> <img src="assets/images/user-logo2.png" style="width:40px;  "
          routerLink="/users"></a>
    </li>
  </div>
 
  <div class="d-flex flex-row me-3">
    <li class="nav-item">
      <a routerLink="/contact us" style="color: white;"> <img src="assets/images/contact.png" style="width:140px;  "
          routerLink="/contact"></a>
    </li>
    <li class="nav-item">

      <a routerLink="/login" style="color: white;"> <img src="assets/images/logout1.png" style="width:110px;  "
          outerLink="/login"></a>

      <!-- <button routerLink="/login" class="btn btn-danger me-3">Logout</button> -->
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Login</a>
    </li>
  </div>


</ul>