<app-notadmin-header></app-notadmin-header>

<div class="container">
    <div class="row">
      <div class="column d-flex justify-content-evenly">
        <div class="col-5 border border-success rounded  p-2 mt-3 ">
          <h1 style="color: blueviolet;">
            Welcome to My Website
          </h1>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quasi, earum
            laboriosam officiis eum alias laudantium voluptate molestias explicabo soluta! Suscipit mollitia nisi
            delectus iusto similique et soluta temporibus est tenetur itaque quisquam dolores, animi ratione quaerat
            necessitatibus dolore molestias eius repellendus natus nemo reiciendis omnis quia dicta. Laudantium libero
            sed modi obcaecati adipisci facere aut neque blanditiis facilis, optio ex magnam atque laborum eum corporis
            iste explicabo voluptate, numquam repellendus hic mollitia. t quod illo dolor nesciunt recusandae,
            odit repellat fugit facilis ipsa quaerat magnam voluptatem accusamus ipsam officiis. Dolor provident odio
            culpa, soluta aliquam,Ipsa libero ut, animi autem earum unde
            velit itaque commodi debitis culpa nesciunt exercitationem atque vitae accusamus hic architecto ipsum
            repudiandae explicabo totam? Mollitia veritatis deleniti id temporibus inventore fugiat velit sint quo
            aliquam animi, incidunt neque rerum esse soluta corporis! Ut aliquam fugit voluptate soluta illo quasi
            nulla! Eos neque exercitationem animi? Alias, quidem. Asperiores voluptates alias est?</p>
         </div>
        <div class="col-4 mt-3"> <img src="assets/images/Gallery1.jpg" class=" fixed rounded" style="height:80vh;"></div>
      </div>
    </div>
  </div>


  <!-- <img src="assets/images/delete-logo2.png" style="width: 65px;" type="button" id="{{s.id}}"
  (click)="clickUpdate($event)" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal3"> -->

