.card  {
border: none;
border-radius: 30%;
width: 500px;
padding: 40px;
position: absolute ;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
/* background-image: url("sun2.jpg") ;
background-repeat: no-repeat;
 background-size: contain; 
background-position:right; */
background: rgb(197,228,235);
background: radial-gradient(circle, rgba(197,228,235,1) 0%, rgba(0,157,203,1) 100%);

/* background: hsla(205, 46%, 30%, 1);
background: linear-gradient(90deg, hsla(205, 46%, 30%, 1)0%, hsla(260,29%,36%,1)100%); */
}

.card h1 ,
h6 {
  color :aliceblue;
}

label{
color: aliceblue;
}
/* .container{
    margin-top: 500px;
} */