/* You can add global styles to this file, and also import other style files */
.fixed:hover{
    transform: scale(1);
}
.btn:hover{
    transform: scale(1.1);

}
img:hover{
    transform: scale(1.1);
}